.container {
    margin: 10px;
    padding: 50px;
    text-align: center;
    border: 1px solid black;
    height:200px;
}
h2 {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.btn-btn-primary {
    background-color: rgb(130, 215, 130);
    fill: green;
    margin: 10px;
}
.btn-btn-danger {
    background-color: rgb(227, 124, 124);
}
.content {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 20px;
    font-weight: bold;
}