<!-- <div class = "container">
  <h2>Structural directives- ngIf</h2>
<div class = "row">
  <div class = "col">
    <button class = "btn-btn-primary" (click) = "approve(true)"> Approve</button>
    <button class = "btn-btn-danger" (click) = "approve(false)">Reject</button>
  </div>
  <div class = "content">
    <p *ngIf = "isApproved"> your application is approved</p>
    <p *ngIf = "!isApproved">sorry , your application is rejected</p>
  </div>
</div>
</div>
<hr>
<h1>structural directives -ngFor</h1>
<div class = "container">
  <div>
    <p *ngFor = "let number of numbers; let i =index"> {{i+1}} - {{number}}</p>
  </div>
</div>
<hr>
<h1>Structural directives - ngSwitch</h1>
<div class = "container">
  <div>
    <input type = "number" [(ngModel)] = "luckynumber">
    <div [ngSwitch]="luckynumber">
      <p *ngSwitchCase = "1"> Strong</p>
      <p *ngSwitchCase = "2"> Weak</p>
      <p *ngSwitchCase = "3"> Average</p>
      <p *ngSwitchDefault> Enter numbers></p>
    </div>
  </div>
</div> -->


<div class = "container" >
  <h1>Attribute directives- ngClass</h1>
  <p [ngClass] ="{
    red : highlightcolor === 'red',
    green : highlightcolor === 'green',
    blue : highlightcolor === 'blue'
  }"> click any button>0</p>
  <div>
    <button  (click)="highlight('red')">red</button>
    <button (click)="highlight('green')">Green</button>
    <button  (click)="highlight('blue')">blue</button>
  </div>
</div>
<div class = "container">
  <h1>Attribute directives - ngStyle</h1>
  <p [ngStyle] ="{
    color : isStyled === true ? 'red' : 'green',
    backgroundcolor : isStyled === true ? 'blue' : 'white'
  }"> click the button to toggle</p>
  <div>
  <button (click) = "togglestyle()">ToggleStyle</button>
</div>
</div>